/* You can add custom styles here. */

// @import "plugins/numbered";

.highlight-blue {
	background-color: #E0F0FF;
}

.highlight-red {
	background-color: #FFE7E7;
}

.highlight-green {
	background-color: #DDFADE;
}

thead {
	background-color: #E8E8E8;
}
